---
import Routes from '../../constants/routes';
import Button from '../button.astro';
import Logo from '../icons/logo.astro';
import Link from '../link.astro';

const links = [
  {
    title: 'Projects',
    href: Routes.Projects,
  },
  // {
  //   title: 'Blog',
  //   href: Routes.Blog,
  // },
  {
    title: 'Contact',
    href: Routes.Contact,
  },
  {
    title: 'Resume',
    href: Routes.Resume,
    isButton: true,
  },
];

const isActive = (href: string) => {
  const currentPath = new URL(Astro.request.url).pathname;
  if (href === '/') {
    return currentPath === '/';
  }
  return currentPath.startsWith(href);
};
---

<header
  class="fixed top-0 left-0 right-0 px-6 md:px-12 py-6 z-[99] print:hidden"
>
  <div class="flex items-center justify-between">
    <a href={Routes.Home} class="text-primary-yellow">
      <span class="pointer-events-none w-16 aspect-square flex">
        <Logo />
      </span>
    </a>

    <input type="checkbox" class="hidden" id="menu-toggle" />

    <label
      for="menu-toggle"
      class="block md:hidden text-3xl cursor-pointer z-[99]"
    >
      {
        new Array(3)
          .fill(null)
          .map((_, i) => <span class="line" style={`--index: ${i};`} />)
      }
    </label>

    <nav class="gap-8 items-center flex">
      {
        links.map((link, i) => {
          if (!link.isButton) {
            const active = isActive(link.href);

            return (
              <span
                style={`--index: ${i};`}
                class:list={[
                  {
                    'text-white/50': !active,
                  },
                  'hover:text-white',
                ]}
              >
                <Link href={link.href}>{link.title}</Link>
              </span>
            );
          }

          return (
            <span style={`--index: ${i};`}>
              <Button href={link.href}>{link.title}</Button>
            </span>
          );
        })
      }
    </nav>
  </div>
</header>

<style lang="scss">
  nav {
    --transform-x: 150%;
    transform: translateX(var(--transform-x));
    transition: transform 300ms ease-in-out;

    @apply absolute top-0 h-[100dvh] w-screen bg-primary-black px-8 py-24 flex-col text-base;

    @screen md {
      --transform-x: 0;

      @apply relative h-auto w-auto p-0 flex-row bg-transparent;
    }
  }

  span.line {
    @apply block bg-white mb-1 rounded-sm transition-all;
    width: 24px;
    height: 3px;
  }

  span {
    animation: slide-in-from-top 800ms calc((var(--index) * 200ms) + 300ms)
      ease-in-out both;
  }

  input[type='checkbox']:checked ~ nav {
    --transform-x: calc(theme('spacing.6') * -1);
  }

  input[type='checkbox']:checked ~ label {
    span.line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span.line:nth-child(2) {
      opacity: 0;
    }

    span.line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
</style>
