---
import Routes from '../../constants/routes';
import Button from '../button.astro';
import Logo from '../icons/logo.astro';
import Link from '../link.astro';

const links = [
  {
    title: 'Projects',
    href: Routes.Projects,
  },
  // {
  //   title: 'Blog',
  //   href: Routes.Blog,
  // },
  {
    title: 'Contact',
    href: Routes.Contact,
  },
  {
    title: 'Resume',
    href: Routes.Resume,
    isButton: true,
  },
];

const isActive = (href: string) => {
  const currentPath = new URL(Astro.request.url).pathname;
  if (href === '/') {
    return currentPath === '/';
  }
  return currentPath.startsWith(href);
};
---

<header
  class="fixed top-0 left-0 right-0 px-6 md:px-12 py-6 z-[99] print:hidden"
>
  <div class="flex items-center justify-between">
    <a href={Routes.Home} class="text-primary-yellow">
      <span class="pointer-events-none w-16 aspect-square flex">
        <Logo />
      </span>
    </a>

    <nav class="gap-8 items-center text-sm hidden md:flex">
      {
        links.map((link, i) => {
          if (!link.isButton) {
            const active = isActive(link.href);

            return (
              <span
                style={`--index: ${i};`}
                class:list={[
                  {
                    'text-white/50': !active,
                  },
                  'hover:text-white',
                ]}
              >
                <Link href={link.href}>{link.title}</Link>
              </span>
            );
          }

          return (
            <span style={`--index: ${i};`}>
              <Button href={link.href}>{link.title}</Button>
            </span>
          );
        })
      }
    </nav>
  </div>
</header>

<style class="scss">
  span {
    animation: slide-in-from-top 800ms calc((var(--index) * 200ms) + 300ms)
      ease-in-out both;
  }
</style>
