---
import Routes from '../constants/routes';
import Button from './button.astro';
import Link from './link.astro';
import OutlineText from './outline-text.astro';

const links = [
  {
    title: 'About',
    href: Routes.About,
  },
  {
    title: 'Projects',
    href: Routes.Projects,
  },
  {
    title: 'Contact',
    href: Routes.Contact,
  },
  {
    title: 'Resume',
    href: Routes.Resume,
    isButton: true,
  },
];

const isActive = (href: string) => {
  const currentPath = new URL(Astro.request.url).pathname;
  if (href === '/') {
    return currentPath === '/';
  }
  return currentPath.startsWith(href);
};
---

<header class="fixed top-0 left-0 right-0 px-6 md:px-24 py-8">
  <div class="flex items-center justify-between">
    <a href={Routes.Home} class="text-5xl font-black flex">
      <OutlineText>A</OutlineText>
    </a>

    <nav class="gap-8 items-center text-sm hidden md:flex">
      {
        links.map((link) => {
          if (!link.isButton) {
            const active = isActive(link.href);

            return (
              <span
                class:list={[
                  {
                    'text-white/50': !active,
                  },
                  'hover:text-white',
                ]}
              >
                <Link href={link.href}>{link.title}</Link>
              </span>
            );
          }

          return <Button href={link.href}>{link.title}</Button>;
        })
      }
    </nav>
  </div>
</header>
